body{
    background: white;    
}

.tab{
    overflow: hidden;
    border : 1px solid  #D4B399
    padding-top: 1px solid #eddcd0;
    background-color: #515151;
}

.tab button{
    position: relative;
    background-color : inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0,3s;
    font-size: 1.5vw;

}

.tab button:hover{
    background-color: white;
    color: #515151;
}

.tab button.active{
    background-color: white;
    color: #515151;
}

.tabcontent{
    position: relative;
    display: none;
    border: none;
    border-top: none;
    color: white;
    font-family: Arial;
    top: 35px;
    line-height: 23px;
}

.relative{
    position: relative;
    top: 20%;
    left: 10%;
    color: white;
    font-family: Arial;
    line-height: 23px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    background-color: #515151;
    border: bold ; 
    padding-top: 15px; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 1.25vw;
    border-radius: 50px;
}

#Riwayat{
    margin-left: 30px; 
    background-color: #515151;
    color: white;
    border: bold ; 
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    display: inline-block; 
    height: auto; 
    width: 30%; 
    left: 32.5%;
    font-size: 1.15vw;
    border-radius: 50px;
}

#Home{
    font-size: 3vw;
}

h3#Riwayat1{
    font-size: 2.5vw;
    font-style: bold;
}

h3#H1{
    font-size: 3.5vw;
    color: #515151;
}

p#H2{
    font-size: 2vw;
    color: #515151;
}

img{
    float: left;
    width: 31%;
    margin-right:30px;
    border-radius: 50%;

}

#accordion {
    color: #FFFF;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 10px;
    align-self: left;
}



.panel{
    padding: 0 18px;
    background-color: #9999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 20%;
    margin-left: 10px;
}

b{
    color:white;
}
