<!DOCTYPE html>
	{% load static %}
<html lang="en">
<head>
<meta name = "viewport" content = "width=device-width, initial-scale=1">
<title>Dandy Febriano</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
<link id ='original' rel='stylesheet' href='{% static "LightMode.css" %}'>
<link rel='stylesheet' href='{% static "jquery-ui.css" %}'>
<link rel='stylesheet' href='{% static "jquery-ui.min.css " %}'>
<link rel='stylesheet' href='{% static "jquery-ui.structure.css " %}'>
<link rel='stylesheet' href='{% static "jquery-ui.structure.min.css " %}'>
<link rel='stylesheet' href='{% static "jquery-ui.theme.css " %}'>
<link rel='stylesheet' href='{% static "jquery-ui.theme.min.css" %}'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	#loader {
  position: absolute;
  left: 8%;
  top: 25%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #515151;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.tabcontent{
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 5s;
  animation-name: animatebottom;
  animation-duration: 5s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.tabcontent{
	display: none;
}
</style>

<body onload="loadFunction()">
<div class="tab" >
  <button class="tablinks" onclick="openCity(event, 'Home')" id="defaultOpen">Home</button>
  <button class="tablinks" onclick="openCity(event, 'Riwayat')">Riwayat</button>
  <button onclick="darkMode()" id='dark_button'>DarkMode</button>
  <button onclick="lightMode()" id='light_button'>LightMode</button>
  <button class="tablinks" onclick="openCity(event, 'Subscribe')">Subscribe</button>
</div>

<div id="loader">
	
</div>

<div id="Home" class="tabcontent" align = "center" style = "height : auto;">
	<h3 id = "H1">Hai, Aku Dandy</h3>
	<p id = "H2">Seorang Mahasiswa</p><br><br>
		<div class="relative" align ="left" > 
			<p id = "H2"><img src = "https://files.catbox.moe/q50deb.png"><b>Profil</b></font>
				 <article>Nama							: Dandy Febriano</article>
				 <article>Pendidikan					: Fakultas Ilmu Komputer UI</article>
				 <article>Tempat, Tanggal Lahir			: Bandar Lampung, 14 Februari 1999</article>
				 <article>Usia							: 19 Tahun</article>
				 <article>Deskripsi diri				: Tinggi, berkacamata, dan penyuka kucing yang suka mengeksplor hal baru</article>
				 <article>Hobi							: Gaming, basket</article></p>
	</div>
	<div id="accordion" class="accordion">
  <h3>Aktivitas</h3>
  <div>
    <p>
    Saat ini sedang bergelut dengan kehidupan mahasiswa yang tidak menentu dan mengabdi kepada UKOR Basket Fasilkom UI.
    </p>
  </div>
  <h3>Pengalaman</h3>
  <div>
    <p>
    Pengalaman bisa dilihat di tab Riwayat ya :)
    </p>
  </div>
  <h3>Prestasi</h3>
  <div>
    <p>
    Yasori belum ada prestasi :(
    </p>
  </div>
</div>
</div>

<div id="Riwayat" class="tabcontent" align = "center">
  <h3 id = "Riwayat1">Riwayat Pendidikan</h3>
  <p><article>Universitas Indonesia				2017 - .... </article>
  	<article>SMAN 9 Bandar Lampung			2014 - 2017</article>
  	<article>SMPN 2 Bandar Lampung          2011 - 2014</article>
  	<article>SD Kartika II-5 Bandar Lampung 2005 - 2011</article>
  	<article>TK Kartini 					2004 - 2005</article>
  	</p><br><br>
  		<h3 id = "Riwayat1">Riwayat Kepanitiaan</h3>
  		<p><article>Staff Medis PMB 2018</article>
  			<article>Staff Medis Makrab Jejama 2018</article>
  			<article>Staff ATE Saimala Himalaya  2018</article>
  			<article>Staff Acara Runtime Error 3.0 2017</article>
  			<article>Staff Dekorasi Alfabeta 2017</article>
  		</p>
  	</div>

<div id="Subscribe" class="tabcontent" align= "center" style=" width: 50%; margin-left: 20px;">
  <div class="Form">
      <div class="form-group">
        <form id="subscriberForm">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-primary my-3" id="SubmitButton">Subscribe</button>
        </form>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script >
	function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }
 document.getElementById("defaultOpen").click();

$(document).ready(function(){    
 $(function(){
    console.log("testing");
    $( "#accordion" ).accordion()({
     collapsible: true
     });
  });
});

 function darkMode(){
document.getElementById("original").href='{% static "DarkMode.css" %}';
}

function lightMode(){
document.getElementById("original").href='{% static "LightMode.css" %}';
}

var myVar;

function loadFunction(){
	myVar = setTimeout(showPage, 3000);
}

function showPage(){
	document.getElementById('loader').style.display = "none";
	document.getElementById('tabcontent').style.display = "block";
}

function checkFormInput() {
  console.log('Checking Form Input'); 
  if ($('#username').val() && $("#password").val() && $("#email").val() && emailOK) {
    $('#SubmitButton').removeAttr("disabled");
  } else {
    $('#SubmitButton').attr("disabled", "disabled");
  }
  console.log(emailOK);
}


var emailOK = false;
$(document).ready(function() {
  checkFormInput();

  $(document).on('keyup', '#username, #email, #password', function() {
    checkFormInput();
  });

  $('#email').on('change', function() {
    url = '/checkEmail/' + $('#email').val();
    console.log(url);
    $.ajax({
      url: url,
      method: 'GET',
      data: $('#email').val(),
      success: function(response) {
        console.log(response);
        if (response.isOk) {
          console.log("Email is OK");
        } else {
          console.log("Email is not OK");
        }
      }
    }).then(function(response) {
      if (response.isOk) {
        emailOK = true;
      }
      console.log("EmailOK: " + emailOK);
    });
  });

  $("#subscriberForm").on('submit', function(event) {
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "/subscribe",
      data: {
        username: $("#username").val(),
        email: $("#email").val(),
        password: $("#password").val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response) {
        alert($("#username").val() + " has been registered as an user!");
        $("#username").val("");
        $("#email").val("");
        $("#password").val("");
        console.log("OK");
      }
    })
  });
});



</script>
</body>
</html>