body{
  background-color: #2d2d2d;
}

.jumbotron{
  background-color: #bcbcbc;
  color: #2d2d2d;
} 

.accordion {
    background-color: #bcbcbc;
    color: #FFFF;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 10px;
}

.active, .accordion:hover {
    background-color: #ccc; 
    color: #bcbcbc;
}

.panel{
    padding: 0 18px;
    background-color: #9999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 20%;
    margin-left: 10px;
}

h3{
  color:#ffff;
}
tbody{
  background-color: #bcbcbc;
  padding: 20px;
}